<template>
    <div>
        <last-synced :synced="synced"></last-synced>
        <br>
        <auctions-filter></auctions-filter>
        <br>
        <auction-list :auctions="filteredAuctions"></auction-list>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import LastSynced from '../components/LastSynced.vue'
    import AuctionList from '../components/AuctionList.vue'
    import AuctionsFilter from '../components/AuctionsFilter.vue'

    export default {
        name: 'auctions',
        components: {
            LastSynced,
            AuctionList,
            AuctionsFilter
        },
        computed: {
            synced () {
                return this.$store.state.synced
            },
            filteredAuctions () {
                if (!this.$store.state.filterTags.length) {
                    return this.$store.state.auctions
                }

                return this.$store.state.auctions.filter(auction => {
                    return this.$store.state.filterTags.every(tag => {
                        const tagName = tag.name.toLowerCase()

                        const categoryMatcher = auction.Category.toLowerCase() === tagName
                        const nameMatcher = auction.Name.toLowerCase().includes(tagName)
                        const descriptionMatcher = auction.Description.toLowerCase().includes(tagName)

                        return categoryMatcher || descriptionMatcher || nameMatcher
                    })
                })
            }
        },
        methods: {
            ...mapActions({
                fetchAuctions: 'FETCH_AUCTIONS',
                fetchSynced: 'FETCH_SYNCED'
            })
        },
        created () {
            this.fetchAuctions()
            this.fetchSynced()
        }
    }
</script>

<style></style>
