<template>
    <div>
        <h4>My auctions</h4>
        <br>
        <table v-if="myAuctions.length > 0" class="table table-hover table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="auction in myAuctions">
                <td>{{ auction.Name }}</td>
                <td>{{ auction.Description }}</td>
            </tr>
            </tbody>
        </table>
        <div v-else>
            You can add tracked auctions at <router-link to="auctions">Auctions</router-link> tab
        </div>
    </div>
</template>
<script>
    export default {
        name: 'myAuctions',
        computed: {
            myAuctions () {
                return this.$store.state.auctions.filter(auction => {
                    return this.$store.state.myAuctionsIds.indexOf(auction.Id) !== -1
                })
            }
        },
        created () {
            this.$store.dispatch('FETCH_AUCTIONS')
            this.$store.dispatch('FETCH_MY_AUCTIONS')
        }
    }
</script>
<style></style>
