<template>
    <div>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>#My</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <auction v-for="auction in auctions"
                     :key="auction.Id"
                     :auction="auction"
                     v-model="checkedAuctions"
            ></auction>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Auction from '../components/Auction.vue'

    export default {
        name: 'auctionList',
        props: [
            'auctions'
        ],
        components: {
            Auction
        },
        computed: {
            checkedAuctions: {
                get () {
                    return this.$store.state.myAuctionsIds
                },
                set (value) {
                    this.$store.dispatch('UPDATE_MY_AUCTIONS', value)
                }
            }
        },
        created () {
            this.$store.dispatch('FETCH_MY_AUCTIONS')
        }
    }
</script>

<style>
</style>
