<template>
    <div class="row justify-content-center">
        <div class="col-6">
            <multiselect :value="filterTags"
                         tag-placeholder="Add this as new tag"
                         placeholder="Search or add a tag"
                         label="name"
                         track-by="name"
                         :options="options"
                         :multiple="true"
                         :taggable="true"
                         @tag="addTag"
                         @input="updateTags"
                         group-values="filters"
                         group-label="group"></multiselect>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        name: 'auctions-filter',
        components: {
            Multiselect
        },
        data () {
            return {
                options: [
                    {
                        group: 'Category',
                        filters: [
                            {name: 'monitor', value: '0', type: 'category'},
                            {name: 'computer', value: '0', type: 'category'},
                            {name: 'laptop', value: '0', type: 'category'}
                        ]
                    },
                    {
                        group: 'State',
                        filters: [
                            {name: 'my auctions', value: 'my', type: 'state'},
                            {name: 'winning auctions', value: 'winning', type: 'state'},
                            {name: 'losing auctions', value: 'losing', type: 'state'}
                        ]
                    }
                ],
                value: []
            }
        },
        computed: {
            filterTags () {
                return this.$store.state.filterTags
            }
        },
        methods: {
            updateTags (tags) {
                this.$store.dispatch('UPDATE_FILTER_TAGS', tags)
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    value: null,
                    type: 'description'
                }
                this.$store.dispatch('UPDATE_FILTER_TAGS_TAG', tag)
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
</style>
