<template>
    <tr @click="select" :class="classSelected">
        <td>
            <input type="checkbox"
                   @change="change"
                   @click.stop=""
                   :value="auction.Id"
                   v-model="tempChecked"
                   :ref="auction.Id">
        </td>
        <td>{{ auction.Name }}</td>
        <td>{{ auction.Category  }}</td>
        <td>{{ auction.Description }}</td>
    </tr>
</template>

<script>
    export default {
        name: 'auction',
        props: [
            'value',
            'auction'
        ],
        data () {
            return {
                checkedProxy: []
            }
        },
        computed: {
            classSelected () {
                return this.tempChecked.indexOf(this.auction.Id) !== -1 ? 'table-success' : ''
            },
            tempChecked: {
                get () {
                    return this.value
                },
                set (val) {
                    this.checkedProxy = val
                }
            }
        },
        methods: {
            change () {
                this.checked = !this.checked
                this.$emit('input', this.checkedProxy)
            },
            select () {
                this.$refs[this.auction.Id].click()
            }
        }
    }
</script>

<style scoped>
    tr {
        cursor: pointer;
    }
</style>
