<template>
    <b-alert variant="info" show dismissible>
        <strong>Hello.</strong> Do you want to go <a href="#" @click.prevent="showPrevApp">back</a>
        to the original app?
        <span v-if="!newestVersion">
            <strong>New version</strong> is available.
        </span>
    </b-alert>
</template>

<script>
    import { mapActions } from 'vuex'
    import { checkLoaderExists } from '../utils'

    export default {
        name: 'embedded',
        computed: {
            newestVersion () {
                return this.$store.getters.isNewestVersion
            }
        },
        methods: {
            ...mapActions({
                listenAppVersion: 'LISTEN_APP_VERSION'
            }),
            showPrevApp () {
                checkLoaderExists()
                window.loader.prev()
            }
        },
        created () {
            this.listenAppVersion()
        }
    }
</script>

<style>
</style>
