<template>
    <div>
        <app-embedded v-if="embedded"></app-embedded>
        <header>
            <nav class="nav nav-pills float-right">
                <!--<router-link to="/" exact class="nav-link" active-class="active">Home</router-link>-->
                <router-link to="auctions" class="nav-link" active-class="active">Auctions</router-link>
                <router-link to="my-auctions" class="nav-link" active-class="active">My auctions</router-link>
                <router-link to="people" class="nav-link" active-class="active">People</router-link>
            </nav>

            <h3 class="text-muted">
                vue-auction
            </h3>
        </header>
    </div>
</template>

<script>
    import Embedded from '../components/Embedded.vue'

    export default {
        name: 'header',
        computed: {
            embedded () {
                return this.$store.state.embedded
            }
        },
        components: {
            appEmbedded: Embedded
        }
    }
</script>

<style>
    header {
        padding-bottom: 16px;
        border-bottom: .05rem solid #e5e5e5;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
</style>
