<template>
    <transition enterActiveClass="animated fadeIn" leaveActiveClass="animated fadeOut" mode="out-in">
        <div v-if="showResync" class="alert alert-warning" role="alert">
            <a @click.prevent="resync" href="#" class="alert-link">Resync?</a>
            Last auction sync was  <span class="badge badge-default">{{ timeFromSync }}</span>
        </div>
    </transition>
</template>

<script>
    import moment from 'moment'

    export default {
        name: 'lastSynced',
        props: [
            'synced'
        ],
        computed: {
            showResync () {
                if (!this.synced) {
                    return true
                }

                const embedded = this.$store.state.embedded
                const moreThen1Hour = moment().subtract(10, 'seconds') > this.synced.time

                return embedded && moreThen1Hour
            },
            timeFromSync () {
                if (!this.synced) {
                    return 'never'
                }
                return moment(this.synced.time).fromNow()
            }
        },
        methods: {
            resync () {
                this.$store.dispatch('SYNC_AUCTIONS')
            }
        }
    }
</script>

<style></style>
