<template>
    <div id="app">
        <div class="container">
            <app-header></app-header>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Header from './components/Header.vue'

    export default {
        name: 'app',
        components: {
            'appHeader': Header
        }
    }
</script>

<style>
</style>
